@model VITAP.Data.Models.Pegasys.VendorInfo
@using (Html.BeginForm())
{
    var textAttr = new Dictionary<string, object> { { "style", "width:140px" }, { "disabled", "" } };
    var textAttrLong = new Dictionary<string, object> { { "style", "width:300px; padding 5px" }, { "disabled", "" } };
    var textAreaAttrLong = new Dictionary<string, object> { { "style", "width:280px; padding 5px" }, { "disabled", "" }, { "rows", "2" } };
    var headerAttr = new { @style = "font-weight:bold" };
    var labelAttrVendor = new { @style = "width: 80px; padding 5px" };

    @Html.AntiForgeryToken()
    <style>
        label
        {
            display:inline;
            float:left;
            margin-right:4px;
            vertical-align:top;
        }
    </style>

    <div class="form-group">
        <div style="float: left;">
            <fieldset>
                <legend style="font-weight: bold">Company Vendor</legend>
                @Html.LabelFor(m => m.VendorTin, labelAttrVendor) @Html.TextBoxFor(m => m.VendorTin, textAttr) <br />
                @Html.LabelFor(m => m.VenderName, labelAttrVendor) @Html.TextBoxFor(m => m.VenderName, textAttrLong) <br />
                @Html.LabelFor(m => m.VenderAddress, labelAttrVendor) @Html.TextAreaFor(m => m.VenderAddress, textAreaAttrLong) <br />
            </fieldset>
        </div>
    </div>

}
