@model VITAP.ViewModels.TransHist.RecurringMasterVendorInfoModel

@using (Html.BeginForm())
{
	<div class="container">
		<div class="row panel">
			<div class="col-sm-12" style="padding-top:8px;">
				@Html.LabelFor(x => x.VendorCode)<br />
				@Html.TextBoxFor(x => x.VendorCode, new { @disabled = "disabled" })
			</div>
		</div>
        <div class="row panel">
            <div class="col-sm-12">
                @Html.LabelFor(x => x.AddressCode)<br />
                @Html.TextBoxFor(x => x.AddressCode, new { @disabled = "disabled" })
            </div>
        </div>
		<div class="row panel">
			<div class="col-sm-12">
				@Html.LabelFor(x => x.VendorName)<br />
				@Html.TextBoxFor(x => x.VendorName, new { @disabled = "disabled" })
			</div>
		</div>
		<div class="row panel">
			<div class="col-sm-12">
				@Html.LabelFor(x => x.Address)<br />
				@Html.TextAreaFor(x => x.Address, new { @disabled = "disabled", rows = "2", cols = "44" })
			</div>
		</div>
		<div class="row panel">
			<div class="col-sm-12">
				@Html.LabelFor(x=> x.BankId)<br />
				@Html.TextBoxFor(x => x.BankId, new { @disabled = "disabled" })
			</div>
		</div>
		<div class="row panel">
			<div class="col-sm-12">
				@Html.LabelFor(x => x.BankAcctNumber)<br />
				@Html.TextBoxFor(x => x.BankAcctNumber, new { @disabled = "disabled" })
			</div>
		</div>
	</div>
}
