<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>VITAP - @ViewBag.Title</title>

    @Scripts.Render("~/Scripts/kendo/jquery.min.js")

    @*Can move to bundle if we want*@
    <link rel="stylesheet" href="~/Content/kendo/kendo.common.min.css" />
    <link href="~/Content/kendo/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Main.css?v=3" rel="stylesheet" />

    @*Can move to bundle *@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Scripts.Render("~/Scripts/kendo/jszip.min.js")
    @Scripts.Render("~/Scripts/kendo/kendo.all.min.js")
    @Scripts.Render("~/Scripts/kendo/kendo.aspnetmvc.min.js")

    @RenderSection("Head", false)
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="redBar">
            </div>
            <div id="wrapper2">
                <div id="banner">
                </div>
            </div>
            <div id="appTitle">
                Visual Invoice Tracking and Payment (VITAP)
            </div>
        </div>
        @{Html.RenderAction("Index", "MainNav"); }
        <hr class="bar" />
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - VITAP .NET Application</p>
            </footer>
        </div>
    </div>

    <!-- MODAL CONTROLS -->
    @RenderSection("ModalControls", false)

    <script type="text/javascript">
        var resultRejectInvoiceModal;
        var pegMemoId;
    </script>
    @Html.Partial("RejectInvoiceModal")
    @Html.Partial("PegMemoModal")


    
    <script src="~/Scripts/site.js?v=10"></script>

    @RenderSection("Scripts", false)
    <script type="text/javascript">

        function timeoutHandler() {
            SessionEnd('@Url.Action("SessionOut", "Login")');
        }

        $(document).ready(function () {
            // Get Session Timeout value (31) from Web.Config
            // Set Session Timeout Warning as 25 min
            var sSessionMinuteForWarning = parseInt(@Session.Timeout -6) * 1000 * 60;
            // Set Session Timeout Warning as 30 min
            var sSessionMinuteForTimeout = parseInt(@Session.Timeout -1) * 1000 * 60;

            // Show Session Timeout Warning message
            window.setTimeout(showSessionTimeoutWarning, sSessionMinuteForWarning);
            // Take care of Session Timeout
            window.setTimeout(timeoutHandler, sSessionMinuteForTimeout);
        });

    </script>
</body>
</html>
