<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>@ViewBag.Title</title>

	@Scripts.Render("~/Scripts/kendo/jquery.min.js")

	@*Can move to bundle if we want*@
	<link rel="stylesheet" href="~/Content/kendo/kendo.common.min.css">
	<link rel="stylesheet" href="~/Content/kendo/kendo.default.min.css">

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Main.css?v=3" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

    @*Can move to bundle *@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/site.js?v=10"></script>
    @Scripts.Render("~/Scripts/kendo/jszip.min.js")
    @Scripts.Render("~/Scripts/kendo/kendo.all.min.js")
    @Scripts.Render("~/Scripts/kendo/kendo.aspnetmvc.min.js")

	@RenderSection("Head", false)
</head>
<body>
	<div id="wrapper">
		<hr class="bar" />
		<div id="content">
			@RenderBody()
		</div>
	</div>

	

	@RenderSection("Scripts", false)
</body>
</html>